<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página inicial</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <style>
  
    .mapa-iframe {
      width: 300px; 
      height: 300px; 
    }
  </style>
</head>
<body>
<div class="container">
  <div class="cabecalho">
    <h1>Sistema de Controle</h1>
    <a href="/settings">Configurações</a>
  </div>
  <div class="modo">
    <h2>Modo</h2>

    <p id="modo">{{ estado[3].modo }}</p>
    {% if estado[3].modo == "auto" %}
      <a href="/altera_modo/{{ estado[3].modo }}">On</a>
    {% else %}
      <a href="/altera_modo/{{ estado[3].modo }}">Off</a>
    {% endif %}
  </div>
  <div class="info">
    <div class="temperatura">
      <h2>Temperatura do ar</h2>
      <h1 id="temperatura">{{ estado[0]["ar"][0]["temperatura"] }}°C</h1>
      <a href="/altera_temp/{{ estado[0]["ar"][0]["temperatura"] }}/up">Aumentar</a>
      <a href="/altera_temp/{{ estado[0]["ar"][0]["temperatura"] }}/down">Diminuir</a>
      
      {% if estado[0]["ar"][0]["estado"] == "1" %}
      <a href="/altera_modo_ar/{{estado[0]["ar"][0]["estado"]}}">Desligar</a>
      {% else %}
      <a href="/altera_modo_ar/{{estado[0]["ar"][0]["estado"]}}">Ligar</a>
      {% endif %}
      <form action="/altera_ar" method="post">
          <input type="radio" id="cool" name="mode" value="cool">
          <label for="cool">Cool</label><br>
          <input type="radio" id="dry" name="mode" value="dry" {% if estado[0]["ar"][0]["modo"] == 'dry' %}checked{% endif %}>
          <label for="dry">Dry</label><br>
          <input type="radio" id="auto" name="mode" value="auto" {% if estado[0]["ar"][0]["modo"] == 'auto' %}checked{% endif %}>
          <label for="auto">Auto</label><br>
          <input type="radio" id="fan" name="mode" value="fan" {% if estado[0]["ar"][0]["modo"] == 'fan' %}checked{% endif %}>
          <label for="fan">Fan</label><br>
          <input type="submit" value="Enviar">
      </form>
      <h3>Temperatura interna</h3>
    <h3 id="temp_interna">{{estado[1]["temperatura"]}}</h3>
      
    </div>
    <div class="umidade">
      <h2>Umidade</h2>
      <h1 id="umidade">{{ estado[2].umidade }}%</h1>
      <h3>Janela: <a href="/altera_janela/{{ estado[2].janela }}" id="janela">{{ estado[2].janela }}</a></h3>
    </div>
  </div>
  <div class="previsao">
    <h2>Previsão do tempo</h2>
    <h3 id="cidade">{{ previsao.cidade }}</h3>, <h3 id="data">{{ previsao.data }}</h3>
    <div class="previsao-conteudo">
      <img id="tipo-tempo-img" src="/static/pics/{{ 'tempo_aberto.png' if previsao.tipo_tempo == 'Clear' else 'tempo_nublado.png' if previsao.tipo_tempo == 'Cloudy' else 'tempo_chuvoso.png' }}" width=100px height=100px>
      <div class="temp-atual" id="temp-atual">{{ previsao.temp_atual }}°C</div>
      <div class="temp-extremas">
        <h4 id="temp-max">Máx {{ previsao.temp_max }}°C</h4>
        <h4 id="temp-min">Mín {{ previsao.temp_min }}°C</h4>
      </div>
    </div>
  </div>

  <div class="mapa-iframe">
    <iframe src="{{ url_for('static', filename='mapa_tempo.html') }}" frameborder="0"></iframe>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
